gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

/key.jks
/key.properties
/upload-key.json
/fastlane/report.xml
/app/src/main/res/values/google_maps_api_key.xml
